p {
    padding-bottom: 20px;
}

img {
    padding-bottom: 20px;
}

.th_co_images {
    height:300px;
    width: 450px;
}

.page-header {
    text-align: center;
}

#submit-button {
    text-align:center;
}